/***************************************************************
	Style sheet for www.JamesRoderickBurns.com
    Modified from Chapter 11 of Beginning HTML with CSS and XHTML,
	by Craig Cook and David Schultz (Apress, 2007).  Thanks guys!!
***************************************************************/

html {
    background: #ff5900;
}

body {
    width: 94%;
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
}

@media (min-width: 480px) {
    body {
        width: 80%;
    }
}

a:link {
    color: #330033;
}

a:visited {
    color: #660066;
}

a:hover {
    color: #990099;
}

a:focus, a:active {
    color: #ff00ff;
    background-color: #555;
}

a {
    font-weight: bold;
}

h2 {
    margin-top: 0;
}